<app-breadcrumbs [currentPage]="project.title" parentPage="Социальные проекты" *ngIf="project?.title" i18n-parentPage="@@nav__social_projects"></app-breadcrumbs>
<div class="container-inner" *ngIf="project">
  
  <div class="page__image">
    <img src="{{project.image}}" alt="{{project.title}} image">
  </div>
  <div class="page__description">
      <div class="page__text-block" [innerHtml]="project?.text"></div>
  </div>
  <div class="share-block"> 
    <div class="col-4 col-desktop-2">
    </div>
    <app-social-share class="col-tablet-2 col-desktop-2 col-4"></app-social-share>
  </div>

  <div class="decor-bar decor-bar--sm decor-bar-absolute">
      <div class="decor decor--half decor--top"></div>
  </div>
  <!-- CALLBACK -->
  <app-callback mode="subscribe" referrer="project"></app-callback>
  <!-- END OF CALLBACK -->
  <div class="decor-bar decor-bar--sm">
      <div class="col-desktop-2 col-tablet-2 col-1"></div>
      <div class="decor decor--half decor--bottom"></div>
  </div>

  <div class="decor-bar decor-on-top decor-to-right hidden-mobile mt40">
    <div class="col-desktop-5 col-2"></div>
    <div class="decor decor--full">
      <img src="assets/img/decor.svg">
    </div>
  </div>
</div>