<app-breadcrumbs [currentPage]="offerItem.name" parentPage="Услуги" [subParent]="offerItem?.parent" *ngIf="offerItem?.name"></app-breadcrumbs>
<div class="container-inner" *ngIf="offerItem">
  <div class="row position-relative">
    <div class="col-desktop-1"></div>
    <!-- <h1 class="page__title">{{offerItem.title}}</h1> -->
    <div class="page__brand_text-rotated hidden-mobile">
        <p>{{offerItem.parent}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-tablet-2 col-desktop-3">
      <div class="item__img">
        <img src="{{offerItem.photo}}" alt="{{offerItem.name}} photo">
      </div>
    </div>
    <div class="col-4 col-tablet-2 col-desktop-3">
      <div class="item__info">
        <h3 class="item__name">{{offerItem.name}}</h3>
        <p class="item__text h5">Цена: 
          <span class="item__price">{{offerItem.price}} {{offerItem.currency}}</span>
        </p>
        <div class="item__text"> 
          <p class="h5">Количество:</p>
          <div class="quantity-box">
            <i class="ic ic--plus" (click)="changeQuantity('remove')">-</i>
            <div class="number">{{offerItem?.quantity}}</div>
            <i class="ic ic--plus" (click)="changeQuantity('add')">+</i>
          </div>
        </div>
        <button class="item__btn btn btn-primary" (click)="addToCart(offerItem)">Добавить в корзину</button>
        <p class="additional-text">*  Оценка стоимости вашего заказа рассчитана по базовым тарифам и является предварительной. Окончательная стоимость будет сформирована после оценки изделий при приеме.</p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap related-items" *ngIf="offerItem.related">
      <div class="item" *ngFor="let item of offerItem.related; let index = index" [ngClass]="{'hidden-tablet': index > 7, 'hidden-mobile': index > 3}">
        <div class="item__img" (click)="navigateTo(item.link)">
          <img src="{{item.photo}}" alt="{{item.name}}">
        </div>
        <h4 class="item__name" (click)="navigateTo(item.link)">{{item.name}}</h4>
      </div>
      <button class="item__btn btn btn-primary" (click)="navigateToParent()">Вся одежда</button>
  </div>

  <div class="row extra-items" *ngIf="offerItem.extra">
    <div class="d-flex flex-wrap col-4 extra-items-inner">
      <div class="item" *ngFor="let item of offerItem.extra; let index = index">
        <div class="item__img" (click)="navigateTo(item.link)">
          <img src="{{item.photo}}" alt="{{item.title}}">
        </div>
        <h4 class="item__name" (click)="navigateTo(item.link)">{{item.title}}</h4>
        <p class="item__subtitle">{{item.subtitle}}</p>
      </div>
    </div>
  </div>

  <div class="decor-bar decor-bar--sm hidden-mobile">
      <div class="col-tablet-3 col-desktop-5"></div>
      <div class="decor decor--full">
          <img src="/assets/img/decor.svg">
      </div>
  </div>
  <div class="decor-bar hidden-tablet hidden-mobile">
      <div class="col-4"></div>
      <div class="decor decor--full">
          <img src="/assets/img/decor.svg">
      </div>
  </div>
</div>