<app-breadcrumbs currentPage="Программа лояльности" i18n-currentPage="@@nav__loyalty"></app-breadcrumbs>
<!-- SLIDER -->
<div class="slider container-inner">
  <div class="decor-bar">
      <div class="decor decor--half decor--top"></div>
  </div>
    <app-slider [slider]="slider" mode="loyalty"></app-slider>
    <div class="decor-bar hidden-mobile">
      <div class="col-3"></div>
      <div class="decor decor--half decor--bottom"></div>
    </div>
</div>
<!-- END OF SLIDER -->
<div class="container-inner">
  <div class="row">
      <div class="loyalty-description col-desktop-5">
        <p>{{loyalty?.description}}</p>
      </div>
      <div class="page__brand_text-rotated hidden-mobile hidden-tablet">
          <p i18n="@@nav__loyalty">программа лояльности</p>
      </div>
  </div>
  <div class="loyalty-content col-desktop-5">
    <h3>{{loyalty?.subtitle}}</h3>
    <ul class="loyalties-list" *ngIf="loyalty?.loyalties">
      <li *ngFor="let item of loyalty?.loyalties">{{item}}</li>
    </ul>
  </div>
  <div class="decor-bar decor-on-top decor-to-right hidden-mobile hidden-desktop">
      <div class="col-desktop-5 col-2"></div>
      <div class="decor decor--full">
        <img src="assets/img/decor.svg">
      </div>
    </div>
</div>