<app-breadcrumbs [currentPage]="service.title" parentPage="Сервисы" *ngIf="service?.title" i18n-parentPage="@@nav_services"></app-breadcrumbs>
<div class="container-inner" *ngIf="service">
  
  <div class="row position-relative">
    <div class="col-desktop-1"></div>
    <div class="page__brand_text-rotated hidden-mobile">
        <p i18n="@@nav_services">сервисы</p>
    </div>
  </div>
  <div class="page__image">
    <img src="{{service.image}}" alt="{{service.title}} image">
  </div>
  <div class="page__description">
      <div class="page__text-block" [innerHtml]="service?.text"></div>
  </div>

  <div class="decor-bar decor-bar--sm decor-bar-absolute">
      <div class="decor decor--half decor--top"></div>
  </div>
  <!-- CALLBACK -->
  <app-callback mode="subscribe" referrer="service"></app-callback>
  <!-- END OF CALLBACK -->
  <div class="decor-bar decor-bar--sm">
      <div class="col-desktop-2 col-tablet-2 col-1"></div>
      <div class="decor decor--half decor--bottom"></div>
  </div>

  <div class="decor-bar decor-on-top decor-to-right hidden-mobile mt40">
    <div class="col-desktop-5 col-2"></div>
    <div class="decor decor--full">
      <img src="assets/img/decor.svg">
    </div>
  </div>
</div>