<div class="callback">
  <div class="callback__rounded-text wow rotateIn1" data-wow-duration="1s"></div>
  <div class="row align-items-center justify-content-between">
      <div class="col-desktop-2 callback__texts">
          <h3 class="callback__title">
              {{data.title}}
          </h3>
          <p class="callback__description">
              {{data.description}}
          </p>
      </div>
      <!-- <div class="col-1"></div> -->
      <form class="callback__form" #form="ngForm" (ngSubmit)="onSubmit(form)" 
        [ngClass]="{'validated': validated}">
            <ng-container *ngIf="referrer !== 'news'">
                <input type="text" class="callback__input" placeholder="Введите имя" name="name" required 
                    [(ngModel)]="callback.name">
                <input type="text" class="callback__input" placeholder="+38(0__)___-__-__" name="phone" required
                    [textMask]="{mask: phoneMask}" [(ngModel)]="callback.phone">
            </ng-container>
            <ng-container *ngIf="referrer === 'news'">
                    <input type="text" class="callback__input email" placeholder="Ваша эл. почта" name="email" required 
                        [(ngModel)]="callback.email">
                </ng-container>
          <button class="callback__submit btn btn-primary" type="submit">{{data.button}}</button>
      </form>
  </div>
</div>
