<div class="callback">
  <div class="callback__rounded-text"></div>
  <div class="row align-items-center justify-content-between">
      <div class="col-desktop-2 callback__texts">
          <h3 class="callback__title">
              <ng-container *ngIf="mode === 'subscribe'">{{(config.configData | async)?.callback?.subscribe_title}}</ng-container>
              <ng-container *ngIf="mode !== 'subscribe'">{{(config.configData | async)?.callback?.order_title}}</ng-container>
          </h3>
          <p class="callback__description">
            <ng-container *ngIf="mode === 'subscribe'">{{(config.configData | async)?.callback?.subscribe_description}}</ng-container>
            <ng-container *ngIf="mode !== 'subscribe'">{{(config.configData | async)?.callback?.order_description}}</ng-container>
          </p>
      </div>
      <!-- <div class="col-1"></div> -->
      <form class="callback__form" #form="ngForm" (ngSubmit)="onSubmit(form)" 
        [ngClass]="{'validated': validated}">
            <ng-container *ngIf="mode !== 'subscribe'">
                <input type="text" class="callback__input" [placeholder]="(config.configData | async)?.callback?.enter_name" name="name" required 
                    [(ngModel)]="callback.name">
                <input type="text" class="callback__input" placeholder="+38(0__)___-__-__" name="phone" required
                    [textMask]="{mask: phoneMask}" [(ngModel)]="callback.phone" pattern="^\+38\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2}">
            </ng-container>
            <ng-container *ngIf="mode === 'subscribe'">
                    <input type="email" class="callback__input email" [placeholder]="(config.configData | async)?.callback?.enter_email" name="email" required 
                        [(ngModel)]="callback.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                </ng-container>
          <button class="callback__submit btn btn-primary" type="submit">
                <ng-container *ngIf="mode === 'subscribe'">{{(config.configData | async)?.callback?.subscribe_button}}</ng-container>
                <ng-container *ngIf="mode !== 'subscribe'">{{(config.configData | async)?.callback?.order_button}}</ng-container>
          </button>
          <div class="form-error" [ngClass]="{'error': showError}">
            <ng-container>
                {{(config.configData | async)?.callback?.error}}
            </ng-container>
            <ng-container *ngIf="mode !== 'subscribe'">
                {{(config.configData | async)?.callback?.error_fill}}
            </ng-container>
            <ng-container *ngIf="mode === 'subscribe'">
                {{(config.configData | async)?.callback?.error_email}}
            </ng-container>
            <i class="ic ic-close-circle" (click)="showError = !showError"></i>
          </div>
      </form>
  </div>
</div>
