<div class="wrapper">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <a href="javascript:void(0);" class="close" (click)="close()">
                  <i class="ic ic-close-circle"></i>
              </a>
          </div>
          <div class="modal-body">
            <img src="assets/img/vacancies/ic_send.svg" alt="icon sent" class="modal-img">
            <p class="modal-title" [innerHtml]="title"></p>
            <p class="modal-subtitle" *ngIf="subtitle">{{subtitle}}</p>
          </div>
      </div>
    </div>
  </div>