<div class="blacktie">
  <div class="row">
    <div class="col-1">
      <img src="/assets/img/services/blacktie.png" alt="blacktie">
    </div>
    <div class="col-1"></div>
    <div class="col-3 blacktie__texts">
        <h2 class="blacktie__title">Услуга Black tie</h2>
        <p class="blacktie__description"> Black Tie - это лучшее что может случиться с вашей вещью. 
          <br>
          Дизайнерская одежда, одежда из комбинированных тканей, элементами декора или специальной обработки требует тщательного подхода на каждом этапе обработки с применением самой эффективной и безопасной экочистки.
        </p>
        <div class="d-flex">
          <div class="blacktie__item">
              <div class="blacktie__icon">
                <img src="/assets/img/icons/ic_check.svg" alt="check icon">
              </div>
              <p class="blacktie__text">
                личный контроль главного технолога
              </p>
          </div>
          <div class="blacktie__item">
              <div class="blacktie__icon">
                <img src="/assets/img/icons/ic_quality.svg" alt="quality icon">
              </div>
              <p class="blacktie__text">                
                индивидуальная программа чистки
              </p>
          </div>
          <div class="blacktie__item">
              <div class="blacktie__icon">
                <img src="/assets/img/icons/ic_trempel.svg" alt="trempel icon">
              </div>
              <p class="blacktie__text">
                любимым вещам – красивая оправа
              </p>
          </div>
        </div>
    </div>
    <div class="col-1 blacktie__link-container">
        <div class="page__brand_text-rotated hidden-mobile">
            <p>Black Tie</p>
        </div>
        <a href="" class="page__more-link blacktie__link">
            Детальнее 
            <i class="ic ic--more">^</i>
        </a>
    </div>
  </div>
</div>