
.blacktie{
    background-color: var(--color_secondary);
}
.blacktie__texts{
    padding-top: 90px;
    padding-bottom: 40px;
}
.blacktie__title{
    color: var(--color_primary);
    margin-bottom: 35px;
}
.blacktie__description{
    color: var(--color_white);
    margin-bottom: 45px;
}
.blacktie__item{
    width: 33.3%;
    margin-right: 15px;
}
.blacktie__text{
    color: var(--color_primary);
}

.blacktie__icon{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.blacktie__icon img{
    height: 50px;
    width: auto;
}
.blacktie__link-container{
    display: flex;
    align-items: flex-end;
    position: relative;
}
.blacktie {
    .page__brand_text-rotated{
        right: 55px;
        top: 55px;
        color: var(--color_white);
    }
}

.blacktie__link{
    color: var(--color_primary);
    margin-bottom: 40px;
    &:hover{
        color: var(--color_primary);
    }
}