<div class="blacktie">
  <div class="row">
      <div class="blacktie__poster hidden-desktop">
          <img src="assets/img/home/black-tie@2x.png" srcset="assets/img/home/black-tie@1x.png 1x, /assets/img/home/black-tie@2x.png 2x, /assets/img/home/black-tie@3x.png 3x" alt="black tie service">
      </div>
      <div class="col-4 hidden-tablet hidden-desktop">
          <div class="decor-bar decor-bar--sm">
              <div class="col-1"></div>
              <div class="decor decor--full mt10">
                  <img src="assets/img/decor.svg">
              </div>
              <div class="decor decor--full decor-bar--top">
                  <img src="assets/img/decor.svg">
              </div>
          </div>
          <div class="decor-bar mt10">
              <div class="col-3"></div>
              <div class="decor decor--full">
                  <img src="assets/img/decor.svg">
              </div>
          </div>
      </div>
    <div class="col-1 hidden-mobile hidden-tablet">
      <img src="assets/img/services/blacktie.png" alt="blacktie">
    </div>
    <div class="col-1 hidden-mobile"></div>
    <div class="col-4 col-tablet-3 col-desktop-3 blacktie__texts">
        <h2 class="blacktie__title">{{blackTie_section?.title}}</h2>
        <div class="blacktie__description" [innerHtml]="blackTie_section?.description"></div>
        <div class="blacktie__description" [innerHtml]="blackTie_section?.description__additional"></div>
        <div class="decor-bar mb50 hidden-desktop hidden-tablet">
            <div class="decor decor--full">
                <img src="assets/img/decor.svg">
            </div>
        </div>
        <div class="col-3 hidden-tablet hidden-desktop"></div>
        <div class="d-flex blacktie__items">
          <div class="blacktie__item" *ngFor="let blacktie of blackTie_section?.items">
              <div class="blacktie__icon order-2 order-tablet-1 order-desktop-1">
                <img src="{{blacktie.icon}}" alt="{{blacktie.alt}}">
              </div>
              <p class="blacktie__text order-1 order-tablet-2 order-desktop-2">
                  {{blacktie.title}}
              </p>
              <div class="blacktie__description hidden-desktop hidden-tablet order-3" [innerHtml]="blacktie.description"></div>
          </div>
          <div class="blacktie__item hidden-desktop align-self-end">
            <a routerLink="/offers/black-tie" class="page__more-link blacktie__link mb0">
                <span>{{(config.configData | async)?.common_texts?.more_details}}</span>
                <i class="ic ic--more">^</i>
            </a>
          </div>
        </div>
    </div>
    <div class="col-1 blacktie__link-container hidden-tablet hidden-mobile">
        <div class="page__brand_text-rotated">
            <p>Black Tie</p>
        </div>
        <a routerLink="/offers/black-tie" class="page__more-link blacktie__link">
            <span>{{(config.configData | async)?.common_texts?.more_details}}</span>
            <i class="ic ic--more">^</i>
        </a>
    </div>
  </div>
</div>