<app-breadcrumbs [currentPage]="productItem.name" [parentPage]="(config.configData | async)?.navigation?.products" [subParent]="productItem?.parent" *ngIf="productItem?.name"></app-breadcrumbs>
<div class="container-inner" *ngIf="productItem">
  <div class="row position-relative">
    <div class="col-desktop-1"></div>
    <!-- <h1 class="page__title">{{productItem.title}}</h1> -->
    <div class="page__brand_text-rotated hidden-mobile">
        <p>{{productItem.parent}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-tablet-2 col-desktop-3">
      <div class="item__img">
        <img src="{{productItem.photo}}" alt="{{productItem.name}} photo">
      </div>
    </div>
    <div class="col-4 col-tablet-2 col-desktop-3">
      <div class="item__info">
        <h3 class="item__name">{{productItem.name}}</h3>
        <p class="item__text h5">
          <span>{{(config.configData | async)?.common_texts?.price}}: </span>
          <span class="item__price">{{productItem.price}} {{productItem.currency}}</span>
        </p>
        <div class="item__text"> 
          <p class="h5">{{(config.configData | async)?.common_texts?.quantity}}:</p>
          <div class="quantity-box">
            <i class="ic ic--plus" (click)="changeQuantity('remove')">-</i>
            <div class="number">{{productItem?.quantity}}</div>
            <i class="ic ic--plus" (click)="changeQuantity('add')">+</i>
          </div>
        </div>
        <button class="item__btn btn btn-primary" (click)="addToCart(productItem)">{{(config.configData | async)?.common_texts?.add_to_cart}}</button>
        <p class="additional-text">{{(config.configData | async)?.common_texts?.additional_text}}</p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap related-items" *ngIf="productItem.related">
      <a class="item block-link" *ngFor="let item of productItem.related; let index = index" [routerLink]="item.link" [ngClass]="{'hidden-tablet': index > 7, 'hidden-mobile': index > 3}">
        <div class="item__img">
          <img src="{{item.photo}}" alt="{{item.name}}">
        </div>
        <h4 class="item__name">{{item.name}}</h4>
      </a>
      <button class="item__btn btn btn-primary" (click)="navigateToParent()">{{productItem?.to_parent_btn}}</button>
  </div>

  <div class="row extra-items" *ngIf="productItem.extra">
    <div class="d-flex flex-wrap col-4 extra-items-inner">
      <h3 class="w100">{{productItem.extra.title}}</h3>
      <a class="item block-link" *ngFor="let item of productItem.extra.items; let index = index" [routerLink]="item.link">
        <div class="item__img">
          <img src="{{item.photo}}" alt="{{item.title}}">
        </div>
        <h4 class="item__name">{{item.title}}</h4>
        <p class="item__subtitle">{{item.subtitle}}</p>
      </a>
    </div>
  </div>

  <div class="decor-bar decor-bar--sm hidden-mobile">
      <div class="col-tablet-3 col-desktop-5"></div>
      <div class="decor decor--full">
          <img src="assets/img/decor.svg">
      </div>
  </div>
  <div class="decor-bar hidden-tablet hidden-mobile">
      <div class="col-4"></div>
      <div class="decor decor--full">
          <img src="assets/img/decor.svg">
      </div>
  </div>
</div>