<div class="wrapper">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="javascript:void(0);" class="modal__close" (click)="close()">
                <i class="ic ic--close"></i>
                  <div class="circle">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                          <path d="M25.5 5C36.3 5 45 13.7 45 24.5S36.3 44 25.5 44 6 35.3 6 24.5 14.7 5 25.5 5z"></path>
                      </svg>
                  </div>
                  <div class="circle-hover">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                          <path d="M25.5 5C36.3 5 45 13.7 45 24.5S36.3 44 25.5 44 6 35.3 6 24.5 14.7 5 25.5 5z"></path>
                      </svg>
                  </div>
            </a>
        </div>
        <div class="modal-body">
          <div class="container-inner">
            <div class="row">
              <div class="col-1 hidden-tablet"></div>
              <div class="col-4 search">
                  <label for="" class="search-label"> 
                      <input type="text" class="search-input" [placeholder]="(config.configData | async)?.modals?.search__placeholder"
                        [(ngModel)]="searchInput" name="search">
                      <i class="ic ic--search ic--mobile" (click)="search()"></i>
                  </label>
                  <p class="search-help hidden-tablet">{{(config.configData | async)?.modals?.help_text}}</p>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>