.modal-dialog{
    width: 100%;
    background-color: var(--color_secondary);
    margin: 0 auto;
}
.modal-content{
    color: var(--color_white);
}
.modal-header{
    border-bottom: none;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.search{
    padding-top: 5px;
    padding-bottom: 130px;
    @media(min-width:1200px){
        padding-top: 65px;
        padding-bottom: 200px;
    }
    &-label{
        width: 100%;
        position: relative;
        .ic--search{
            position: absolute;
            right: 12px;
            top: calc(50% - 9px);
            cursor: pointer;
        }
    }
    &-input{
        width: 100%;
        padding-right: 26px;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--color_secondary);
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: var(--color_secondary);
        } 
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: var(--color_secondary);
        }
    }
}
.search-help{
    text-align: right;
    padding-right: 40px;
    margin-top: 20px;
}

.modal__close{
    border: none;
    position: relative;
    width: 60px;
    height: 60px;
    .circle, .circle-hover{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        path{
            stroke-dashoffset: 122.592px;
            transition: .9s cubic-bezier(.77,0,.175,1) .3s;
            fill: none;
            stroke: #fff;
            stroke-width: 2;
            stroke-dasharray: 122.592,122.592;
        }
    }
    .circle{
        path{
            stroke-dashoffset: 0;
        }
    }
    .circle-hover{
        path{
            stroke: var(--color_primary);
        }
    }
    &:hover{
        .circle path{
            stroke-dashoffset: -122.592px;
        }
        .circle-hover path{
            stroke-dashoffset: 0;
        }
        .ic--close::before,
        .ic--close::after{
            background-color: var(--color_primary);
        }
        .ic--close::before{
            transform: rotate(90deg);
        }
        .ic--close::after{
            transform: rotate(0deg);
        }
    }

}