
.map__frame{
    height: 100%;
    width: calc(100% + var(--grid-column));
    margin-right: calc(var(--grid-column) * -.5);
    margin-left: calc(var(--grid-column) * -.5);
}
.map__sort{
    margin-left: -20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    @media(min-width:768px){
        flex-wrap: nowrap;
    }
}
.page__description{
    padding-bottom: 40px;
    @media(min-width:768px){
        padding-bottom: 60px;
    }
    @media(min-width:1200px){
        padding-bottom: 100px;
    }
}
@media(min-width:768px){
    .map__frame{
        height: 580px;
    }
    .map{
        padding-top: 40px;
    }
}
@media(min-width:1200px){
    .map__frame{
        margin-left: 0;
        margin-right: 0;
    }
    .map__inner{
        margin-right: 0;
        margin-left: 0;
    }
}

.map__list{
    padding-bottom: 80px;
    &-item{
        margin-bottom: 20px;
        @media(min-width:768px){
            width: calc(50% - 30px);
            margin-right: 30px;
        }
    }
    &-address{
        margin-bottom: 20px;
    }
    &-link{
        color: var(--color_primary);
    }
}

agm-map{
    height: 100%;
    width: 100%;
    /deep/ {
        .gm-style .gm-style-iw-c{
            background-color: var(--color_secondary);
            color: var(--color_white);
            font-family: var(--main_font);
            padding: 20px!important;
            border-radius: 0;
        }
        .gm-style .gm-style-iw-d {
            overflow: auto!important;
        }
        .gm-style .gm-style-iw-t::after{
            display: none;
        }
        button.gm-ui-hover-effect{
            display: none!important;
        }
        .map__address{
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 24px;
        }
        .map__schedule{
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 24px;
            color: var(--color_light);
        }
        .map__link{
            font-size: 10px;
            letter-spacing: 1px;
            line-height: 24px;
            color: var(--color_primary);
        }
    }
}