<footer class="container-inner">
  <div class="footer">
      <div class="row">
          <div class="col-2 col-tablet-4 col-desktop-1 footer__logo-container">
              <a href="/" class="footer__logo">
                  <img src="assets/img/brand/logo@2x.png" srcset="assets/img/brand/logo@1x.png 1x, assets/img/brand/logo@2x.png 2x, assets/img/brand/logo@3x.png 3x" alt="VESCH">
              </a>
              <div class="hidden-mobile hidden-tablet decor decor--full decor-to--left">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 213 75" style="enable-background:new 0 0 213 75;" xml:space="preserve">
                      <path fill="#d5db38" d="M212,1c3.1-0.6,2,1.7,2,3c0,19.7,0,39.3,0,59c-3,0.9-6.1,1.7-9.1,2.6c-19.7,6.1-39.8,9.9-60.4,9.1    c-16.8-0.6-33.4-3.4-50-6c-18.9-2.9-37.8-6.6-57-3.6C25.4,67,13.6,69.5,3,76c-3,0.6-2-1.7-2-3c0-19.7,0-39.4,0-59    C11.4,9.6,22.1,5.9,33.3,3.8C53,0.2,72.4,3.5,91.8,6.4c25,3.8,49.9,8.7,75.3,5.5C182.5,9.9,197.6,7,212,1z"/>
                  </svg>
              </div>
          </div>
          <div class="col-4 col-tablet-2 col-desktop-1 mt40 order-3 order-tablet-3 order-desktop-1">
              <h5 class="footer__title">Свяжитесь с нами</h5>
              <p class="footer__subtitle">По телефону</p>
              <a href="tel:0949533909" class="footer__link">(094) 953•39•09</a>
              <a href="tel:0949533909" class="btn btn-primary hidden-tablet hidden-desktop footer__btn--mobile">Позвонить</a>
              <p class="footer__subtitle">Пишите нам на почту</p>
              <a href="" class="footer__link">info@gmail.com</a>
              <a href="" class="btn btn-primary hidden-tablet hidden-desktop footer__btn--mobile">Написать</a>
              <p class="footer__subtitle">Мы в соцсетях</p>
              <div class="footer__social-container">
                  <a href="" class="footer__social social soc-viber"></a>
                  <a href="" class="footer__social social soc-telegram"></a>
                  <a href="" class="footer__social social soc-instagram"></a>
                  <a href="" class="footer__social social soc-facebook"></a>
                  <a href="" class="footer__social social soc-youtube"></a>
              </div>
          </div>
          <div class="col-desktop-1"></div>
          <div class="col-4 col-tablet-2 col-desktop-1 mt40 order-1 order-tablet-1 order-desktop-2">
              <h5 class="footer__title">О нас</h5>
              <ul class="footer__nav">    
                  <li class="footer__nav-item">
                      <a href="" class="footer__nav-link">Компания</a>
                  </li>
                  <li class="footer__nav-item">
                      <a href="" class="footer__nav-link">Как мы работаем</a>
                  </li>
                  <li class="footer__nav-item">
                      <a href="" class="footer__nav-link">Программа лояльности</a>
                  </li>
                  <li class="footer__nav-item">
                      <a href="" class="footer__nav-link">Новости</a>
                  </li>
                  <li class="footer__nav-item">
                      <a href="" class="footer__nav-link">Вакансии </a>
                  </li>
                  <li class="footer__nav-item">
                      <a href="" class="footer__nav-link">FAQ</a>
                  </li>
              </ul>
          </div>
          <div class="col-4 col-tablet-2 col-desktop-1 mt40 order-2 order-tablet-2 order-desktop-3">
              <ul class="footer__nav">
                  <li class="footer__nav-item">
                      <h5 class="footer__title">
                          <a href="" class="footer__nav-link">Акции</a>
                      </h5>
                  </li>
                  <li class="footer__nav-item">
                      <h5 class="footer__title">
                          <a href="" class="footer__nav-link">Сервисы</a>
                      </h5>
                  </li>
                  <li class="footer__nav-item">
                      <h5 class="footer__title">
                          <a href="" class="footer__nav-link">Услуги</a>
                      </h5>
                  </li>
                  <li class="footer__nav-item">
                      <h5 class="footer__title">
                          <a href="" class="footer__nav-link">Программа лояльности</a>
                      </h5>
                  </li>
                  <li class="footer__nav-item">
                      <h5 class="footer__title">
                          <a href="" class="footer__nav-link">Пункты приёма</a>
                      </h5>
                  </li>
              </ul>
          </div>
          <div class="col-tablet-2 col-desktop-1 mt40 order-4">
              <h5 class="footer__title mb25">Скачайте приложение через</h5>
              <a href="" class="mobile-app__link">
                  <img src="assets/img/home/apple@2x.png" srcset="assets/img/home/apple@1x.png 1x, assets/img/home/apple@2x.png 2x, assets/img/home/apple@3x.png 3x" alt="app store">
              </a>
              <a href="" class="mobile-app__link">
                  <img src="assets/img/home/google@2x.png" srcset="assets/img/home/google@1x.png 1x, assets/img/home/google@2x.png 2x, assets/img/home/google@3x.png 3x" alt="google play">
              </a>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="col-tablet-1 col-desktop-1 copyright__text">©2018 Vesch. <br/>All rights reserved.</div>
  </div>
  <div class="decor-bar">
      <div class="col-2"></div>
      <div class="decor decor--half decor--top"></div>
  </div>
</footer>
