.vacancy-salary{
    color: var(--color_primary-dark);
}
.decor-to-right {
    top: calc(var(--decor-height) / -2 - 1px);
    margin-top: calc(var(--decor-height) / -2);
}
.page__brand_text-rotated{
    @media(min-width: 1200px){
        top: -100px;
    }
}