<app-breadcrumbs currentPage="Сервисы" i18n-currentPage="@@nav_services"></app-breadcrumbs>
<div class="container-inner">
  <div class="row">
    <div class="col-1 hidden-mobile"></div>
    <div class="col-4 col-tablet-3 col-desktop-5 position-relative">
      <h1 class="page__title">Дополнительные сервисы</h1>
    </div>
  </div>

  <div class="row" *ngIf="services?.length">
    <a class="col-4 col-tablet-1 col-desktop-1 service block-link" [routerLink]="service.link" *ngFor="let service of services; let index = index">
      <div class="service__img">
        <img src="{{service.img}}" alt="{{service.alt}}">
        <div class="service__link">
          <span class="link rotated">
              <i class="ic ic--plus">+</i>
              <span i18n="@@general__view_price">Смотреть прайс</span> 
          </span>
        </div>
      </div>
      <h4 class="service__name">{{service.title}}</h4>
      <p class="service__description">{{service.description}}</p>
    </a>
</div>
</div>