.offer__before-after{
    margin-bottom: 45px;
    @media(min-width:1200px){
        margin-bottom: 70px;
    }
}
.page__description{
    /deep/ p{
        @media(min-width:768px){
            padding-right: 80px;
        }
    }
}

.page__brand_text-rotated{
    top: 0;
}

.search{
    margin-left: calc(var(--grid-column) * -.5);
    margin-right: calc(var(--grid-column) * -.5);
    padding: 40px calc(var(--grid-column) * .5);
    position: relative;
    margin-top: 30px;
    background-color: var(--color_primary);
    margin-bottom: 60px;
    @media(min-width:768px){
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media(min-width:1200px){
        margin-top: 70px;
        margin-bottom: 90px;
    }
}
.search::after{
    content: '';
    display: block;
    height: 50px;
    width: 65px;
    background-image: url(/assets/img/brand/watermark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -33px;
    right: 13px;
    z-index: 2;
}

@media(min-width:1200px){
    .search::after{
        height: 120px;
        width: 140px;
        bottom: -59px;
        right: 30px;
    }
}

.search__form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.search__input{
    width: 100%;
    margin-bottom: 30px;
    transition: var(--transition);
}
.search__select{
    width: var(--grid-column);
    color: var(--color_placeholder);
}
.searh__label{
    margin-bottom: 15px;
    @media(min-width:768px){
        margin-bottom: 0;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font: inherit;
    color: var(--color_placeholder);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font: inherit;
    color: var(--color_placeholder);
} 
::-ms-input-placeholder { /* Microsoft Edge */
    font: inherit;
    color: var(--color_placeholder);
}
    
@media(min-width:768px){
    .search__input{
        margin-bottom: 25px;
    }
}
@media(min-width:1200px){
    .search__input{
        margin-bottom: 0;
    }
}

.search__element{
    position: relative;
    .search__input,
    .search__select{
        width: 100%;
    }
    .ic{
        position: absolute;
        top: calc(50% - 8px);
        right: 10px;
    }
    .search__input + .ic{
        @media(max-width:1199px){
            top: calc(50% - 16px - 8px);
        }
    }
}

.filter__section{
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    transition: var(--transition);
    &.active{
        background-color: #d5db38;
        .section__icon img{
            filter: brightness(0) invert(1);
        }
    }
    .section__icon{
        margin-right: 10px;
        width: 32px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 100%;
            height: auto;
            max-height: 100%;
            width: auto;
        }
    }
}
.filter__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    --item-width: 100%;
    @media(min-width:768px){
        --item-width: 215px;
    }
    @media(min-width:1200px){
        --item-width: calc(100% / 4);
    }
    .d-flex{
        width: 100%;
    }
    .item{
        width: var(--item-width);
        margin-bottom: 35px;
        @media(min-width:768px){
            margin-right: calc((50% - var(--item-width)));
            margin-bottom: 70px;
        }
        @media(min-width:1200px){
            // margin-left: calc(var(--item-width) / 3);
            margin-right: 0;
            padding-right: calc(var(--item-width) * .15);
        }
    }
    .item__img{
        cursor: pointer;
        width: calc(100% / 4 * 3);
        margin-bottom: 30px;
        @media(min-width:768px){
            width: 100%;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .item__name{
        cursor: pointer;
        padding-right: 10px;
        @media(min-width:1200px){
            hyphens: auto;
        }
    }
    .item__price{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .add_to_cart{
            margin-right: 15px;
        }
        .price{
            color: var(--color_primary);
            font-family: var(--titles_font);
            font-size: 20px;
            line-height: 1.2;
        }
    }
    .space{
        width: var(--item-width);
    }
    .decor{
        width: var(--grid-column);
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 70px;
        @media(min-width:1200px){
            width: var(--item-width);
        }
    }
}
.related_item{
    @media(max-width:1199px){
        &:nth-of-type(3){
            display: none;
        }
    }
}

.page__brand_text-rotated{
    @media(max-width:1199px){
        top: 0;
    }
}

.sections-select{
    width: 100%;
    // height: 70px;
    margin-bottom: 60px;
    /deep/ .ng-select-container{
        height: 70px;
        border-radius: 0;
        background-color: var(--color_secondary);
        font-family: var(--titles_font);
        text-transform: lowercase;
        border: none!important;
        .ng-value-container {
            padding: 0 30px;
        }
        .ng-placeholder, .ng-value{
            font-size: 20px;
            letter-spacing: -1.44px;
            color: var(--color_white);
            @media(min-width:768px){
                font-size: 24px;
            }
        }
    }
    /deep/ .ng-dropdown-panel {
        &.ng-select-bottom{
            border-top-color: var(--color_primary);
        }
        .ng-dropdown-panel-items {
            max-height: none;
            .ng-option {
                padding: 15px 30px;
                background-color: var(--color_secondary);
                color: var(--color_white);
                font-size: 16px;
                line-height: 1.5;
                transition: var(--transition);
                &:hover{
                    background-color: var(--color_secondary-hover);
                }
            }
        }
    }
    /deep/ .ng-arrow-wrapper{
        margin-right: 30px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--color_primary);
        position: relative;
        &::after{
            content: "\f107";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: var(--transition);
        }
        .ng-arrow{
            display: none;
        }
    }
    /deep/ &.ng-select-opened{
        .ng-arrow-wrapper::after{
            transform: rotate(180deg)
        }
    }
}

@media(max-width:767px){
    .hidden{
        display: none;
    }
    .btn-secondary-inverted{
        width: 100%;
    }
}