<div class="container-inner breadcrumbs">
  <div class="row">
      <div class="hidden-mobile hidden-tablet decor decor--full decor-to--left">
        <svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" style="enable-background:new 0 0 213 75;" version="1.1" viewBox="0 0 213 75" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
          <path d="M212,1c3.1-0.6,2,1.7,2,3c0,19.7,0,39.3,0,59c-3,0.9-6.1,1.7-9.1,2.6c-19.7,6.1-39.8,9.9-60.4,9.1    c-16.8-0.6-33.4-3.4-50-6c-18.9-2.9-37.8-6.6-57-3.6C25.4,67,13.6,69.5,3,76c-3,0.6-2-1.7-2-3c0-19.7,0-39.4,0-59    C11.4,9.6,22.1,5.9,33.3,3.8C53,0.2,72.4,3.5,91.8,6.4c25,3.8,49.9,8.7,75.3,5.5C182.5,9.9,197.6,7,212,1z" fill="#d5db38"></path>
        </svg>
      </div>
      <!-- mobile:  -->
      <div class="col-3 hidden-desktop hidden-tablet"></div>
      <div class="hidden-desktop hidden-tablet decor decor--full">
        <img src="assets/img/decor.svg">
      </div>
      <!-- tablet & desktop:  -->
      <div class="col-desktop-1"></div>
      <div class="col-desktop-3 col-tablet-3 col-4 breadcrumbs__container">
        <div class="breadcrumbs__links">
          <a routerLink="/" class="breadcrumbs-home">{{(config.configData | async)?.navigation?.main}}</a>
          <span class="breadcrumbs__separator">
            <i class="fas fa-angle-right"></i>
          </span>
          <ng-container *ngIf="parentPage && !subParent">
              <a routerLink="../" class="breadcrumbs-home">{{parentPage}}</a>
              <span class="breadcrumbs__separator">
                <i class="fas fa-angle-right"></i>
              </span>
          </ng-container>
          <ng-container *ngIf="parentPage && subParent">
              <a routerLink="../../" class="breadcrumbs-home">{{parentPage}}</a>
              <span class="breadcrumbs__separator">
                <i class="fas fa-angle-right"></i>
              </span>
              <a routerLink="../" class="breadcrumbs-home">{{subParent}}</a>
              <span class="breadcrumbs__separator">
                <i class="fas fa-angle-right"></i>
              </span>
          </ng-container>
          <span class="breadcrumbs-active">{{currentPage}}</span>
        </div>
      </div>
      <div class="hidden-mobile decor decor--full">
          <img src="assets/img/decor.svg">
      </div>
  </div>
</div>