<div class="resume">
  <div class="row align-items-center justify-content-between">
      <div class="col-desktop-3 resume__texts">
          <h3 class="resume__title">
            {{config?.vacancies?.send_title}}
          </h3>
          <p class="resume__description hidden-tablet hidden-mobile">
            <span>{{config?.vacancies?.send_description}} </span> {{config?.phone_number_resume}}
          </p>
      </div>
      <!-- <div class="col-1"></div> -->
      <form class="resume__form" #form="ngForm" (ngSubmit)="form.form.valid && onSubmit()" 
        [ngClass]="{'validated': form.submitted}">
          <input type="text" class="resume__input order-2" placeholder="Ваш Email" name="email" required
            [(ngModel)]="resume.email">
          <button class="resume__submit btn btn-primary order-4 order-tablet-3 order-desktop-3" type="submit" (click)="checkFile()">{{config?.vacancies?.send_submit}}</button>
          <label class="resume__file order-3 order-tablet-4 order-desktop-4" *ngIf="!fileName">
            <input type="file" name="file"  accept=".pdf,.doc,.docx" required
              [(ngModel)]="resume.file" (change)="onfileChange($event)">
            <i class="fas fa-paperclip"></i>
            <span>{{config?.vacancies?.send_add}}</span>
          </label>
          <div class="file--uploaded resume__file order-3 order-tablet-4 order-desktop-4" *ngIf="fileName">
            <span class="name">{{fileName}}</span>
            <i class="fas fa-times close" (click)="removeFile()"></i>
          </div>
          <div class="noresume" [ngClass]="{'error': showError}">
            <span>{{config?.vacancies?.send_error}}</span>
            <i class="ic ic-close-circle" (click)="showError = !showError"></i>
          </div>
      </form>
  </div>
</div>
