<app-breadcrumbs currentPage="Корзина" i18n-currentPage="@@cart__cart"></app-breadcrumbs>

<div class="container-inner">
  <div class="row">
    <div class="col-1 hidden-mobile"></div>
    <div class="col-4 col-tablet-3 col-desktop-5 position-relative">
      <div class="page__brand_text-rotated hidden-mobile hidden-tablet">
        <p i18n="@@cart__cart">Корзина</p>
      </div>
    </div>
  </div>

  <div class="order-content" *ngIf="orderItems && orderItems?.length">
    <div class="order__head hidden-mobile">
      <div class="order__product">
        &nbsp;
      </div>
      <div class="order__quantity" i18n="@@cart__quantity">
        Количество
      </div>
      <div class="order__price-one" i18n="@@cart__price">
        Цена  
      </div>
      <div class="order__price-total" i18n="@@cart__total">
        Сумма
      </div>
      <div class="order__remove" i18n="@@cart__delete">
        Удалить
      </div>
  
    </div>
    <div class="order__item hidden-mobile" *ngFor="let item of orderItems">
      <div class="order__product">
        <div class="product-image">
          <img src="{{item?.photo}}" alt="{{item?.name}} photo">
        </div>
        <div class="product-name">
          {{item?.name}}
        </div>
      </div>
      <div class="order__quantity">
        <div class="quantity-box">
          <i class="ic ic--plus" (click)="orderService.remove(item, 1)">-</i>
          <div class="number">{{item?.quantity}}</div>
          <i class="ic ic--plus" (click)="orderService.add(item)">+</i>
        </div>
      </div>
      <div class="order__price-one">
        {{item?.price}} {{item?.currency}}
      </div>
      <div class="order__price-total">
        <strong>{{item?.price * item?.quantity}} {{item?.currency}}</strong>  
      </div>
      <div class="order__remove">
        <i class="ic ic--remove ic--close" (click)="orderService.remove(item)"></i>
      </div>
    </div>
    <div class="order__item hidden-tablet hidden-desktop" *ngFor="let item of orderItems">
      <div class="col-1 order__image--mob">
        <img src="{{item?.photo}}" alt="{{item?.name}} photo">
      </div>
      <div class="col-3">
        <div class="order-row">
          <div class="product-name">
            {{item?.name}}
          </div>
          <i class="ic ic--remove ic--close" (click)="orderService.remove(item)"></i>
        </div>
        <div class="order-row">
          <div class="quantity-box">
            <i class="ic ic--plus" (click)="orderService.remove(item, 1)">-</i>
            <div class="number">{{item?.quantity}}</div>
            <i class="ic ic--plus" (click)="orderService.add(item)">+</i>
          </div>
          <div class="order-price--mob">
            {{item?.price}} {{item?.currency}}<br><strong>{{item?.price * item?.quantity}} {{item?.currency}}</strong>  
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="additional-content">
    <div class="col-4 col-tablet-2 col-desktop-3">
      <h4 i18n="@@cart__choose_additional_service">Выберите дополнительный сервис</h4>
    </div>
    <div class="col-4 col-tablet-2 col-desktop-3">
      <div class="order__select">
          <select name="additional" class="select" [(ngModel)]="order.additional">
            <option value="0" selected i18n="@@cart__choose_additional_service_placeholder">Выбор дополнительного сервиса</option>
            <option value="Другой вариант">Другой вариант</option>
          </select>
          <i class="ic ic--dropdown">^</i>
      </div>
    </div>
  </div>

  <div class="row info-row">
    <div class="col-tablet-2 col-desktop-4">
      <p i18n="@@cart__contact">Оператор контакт центра свяжется с вами для подтверждения заказа и уточнения необходимых деталей в течении 15 минут</p>
    </div>
    <div class="col-4 col-tablet-2 col-desktop-2 order-mobile-1">
        <button class="order__submit btn btn-primary" type="submit" i18n="@@cart__submit" (click)="submitOrder()">Отправить заказ</button>
    </div>
  </div>

  <div class="decor-bar decor-bar--top hidden-mobile">
      <div class="col-3"></div>
      <div class="decor decor--full">
        <img src="assets/img/decor.svg">
      </div>
    </div>
    <div class="decor-bar decor-bar--top hidden-mobile hidden-tablet">
      <div class="col-2"></div>
      <div class="decor decor--full">
        <img src="assets/img/decor.svg">
      </div>
    </div>
</div>