.page__brand_text-rotated{
    position: absolute;
    right: 5px;
    top: -50px;
    // @media(min-width: 1200px){
    //     top: -100px;
    // }
    p{
        transform: rotate(-90deg);
        transform-origin: right;
        color: var(--color_primary);
        font-weight: bold;
        text-transform: lowercase;
    }
}
.page__title{
    margin-bottom: 30px;
    @media(min-width:768px){
        margin-bottom: 40px;
    }
}
.page__description{
    /deep/ p{
        margin-bottom: 20px;
    }
    /deep/ ol{
        padding-left: 25px;
        li{
            margin-bottom: 20px;
        }
    }
    /deep/ h3{
        margin-top:25px;
    }
}
.page__image{
    margin-left: calc(var(--grid-column) * -.5);
    margin-right: calc(var(--grid-column) * -.5);
    margin-bottom: 30px;
    @media(min-width:768px){
        margin-left: 0;
        margin-right: 0;
    }
    @media(min-width:1200px){
        margin-bottom: 60px;
    }
    img{
        width: 100%;
    }
}
.page__date{
    font-size: 14px;
    color: var(--color_text-light);
    margin-bottom: 20px;
}
.page__text-block{
    margin-bottom: 30px;
    @media(min-width:1200px){
        margin-bottom: 60px;
    }
}
.page__more-link{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    &:hover{
        color: inherit;
    }
}
.page__more-link .ic{
    margin-left: 4px;
    margin-right: 0;
    color: var(--color_text);
    background-color: var(--color_primary-static);
    transition: var(--transition);
}
.page__more-link:hover .ic,
.page__more-link:focus .ic{
    color: var(--color_text);
    background-color: var(--color_primary-hover);
    margin-left: 16px;
}
    
.decor-to-right{
    right: calc(var(--grid-column) * -1);
    top: calc(var(--decor-height) / -2 - 40px);
    z-index: -1;
}

.add_to_cart{
    background-color: var(--color_secondary);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    background-image: url(/assets/img/icons/ic_cart.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}


.quantity-box{
    width: 70px;
    @media(min-width:768px) {
        width: 150px;
        border: 1px solid #eaebec;
        padding: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ic--plus{
        margin-right: 0;
        cursor: pointer;
    }
}


/deep/ .ngx-pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0;
    li{
        width: 40px;
        height: 40px;
        border: 1px solid #f1f0f6;
        margin-left: 8px;
        margin-right: 8px;
        @media(min-width:768px){
            width: 50px;
            height: 50px;
        }
        a{
            width: 100%;
            height: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                background-color: #f1f0f6;
            }
        }
        &.current{
            background: var(--color_secondary);
            border-color: var(--color_secondary);
            display: flex!important;
            align-items: center;
            justify-content: center;
        }
        &.disabled{
            display: flex!important;
            align-items: center;
            justify-content: center;
        }
        &.pagination-previous{
            margin-right: auto;
            margin-left: 0;
            a::before{
                content: "\f053";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
            &.disabled::before{
                content: "\f053";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }
        &.pagination-next{
            margin-left: auto;
            margin-right: 0;
            a::after{
                content: "\f054";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
            &.disabled::after{
                content: "\f054";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }
    }
}