.page__brand_text-rotated{
    position: absolute;
    right: 5px;
    top: -50px;
    // @media(min-width: 1200px){
    //     top: -100px;
    // }
    p{
        transform: rotate(-90deg);
        transform-origin: right;
        color: var(--color_primary);
        font-weight: bold;
    }
}
.page__title{
    margin-bottom: 30px;
    @media(min-width:768px){
        margin-bottom: 40px;
    }
}
.page__description{
    /deep/ p{
        margin-bottom: 20px;
    }
    /deep/ ol{
        padding-left: 25px;
        li{
            margin-bottom: 20px;
        }
    }
}
.page__image{
    margin-left: calc(var(--grid-column) * -.5);
    margin-right: calc(var(--grid-column) * -.5);
    margin-bottom: 30px;
    @media(min-width:768px){
        margin-left: 0;
        margin-right: 0;
    }
    @media(min-width:1200px){
        margin-bottom: 60px;
    }
    img{
        width: 100%;
    }
}
.page__text-block{
    margin-bottom: 30px;
    @media(min-width:1200px){
        margin-bottom: 60px;
    }
}
.page__more-link{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    &:hover{
        color: inherit;
    }
}
.page__more-link .ic{
    margin-left: 4px;
    margin-right: 0;
    color: var(--color_text);
    background-color: var(--color_primary-static);
    transition: var(--transition);
}
.page__more-link:hover .ic,
.page__more-link:focus .ic{
    color: var(--color_text);
    background-color: var(--color_primary-hover);
    margin-left: 16px;
}
    
.decor-to-right{
    right: calc(var(--grid-column) * -1);
    top: calc(var(--decor-height) / -2 - 40px);
    z-index: -1;
}

.add_to_cart{
    background-color: var(--color_secondary);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    background-image: url(/assets/img/icons/ic_cart.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}