<app-breadcrumbs [currentPage]="(config.configData | async)?.checkout?.page_title"></app-breadcrumbs>


<div class="container-inner">
    <div class="row">
      <div class="col-1 hidden-mobile"></div>
      <div class="col-4 col-tablet-3 col-desktop-5 position-relative">
        <h1 class="page__title">{{(config.configData | async)?.checkout?.order}} № {{cart?.id}}</h1>
        <div class="page__brand_text-rotated hidden-mobile hidden-tablet">
          <p>{{(config.configData | async)?.checkout?.title}}</p>
        </div>
      </div>
    </div>

    <form class="checkout__form" #form="ngForm" (ngSubmit)="form.form.valid && submitOrder()" 
    [ngClass]="{'validated': form.submitted}">
      <div class="checkout-form-container">
        <div class="form-group-lg">
          <div class="form-group">
              <h3 class="form-group-title">
                {{(config.configData | async)?.checkout?.contact_details}}
              </h3>
              <input type="text" class="checkout__input" [placeholder]="(config.configData | async)?.checkout?.your_first_name" name="name" required 
                [(ngModel)]="checkout.name">
              <input type="text" class="checkout__input" [placeholder]="(config.configData | async)?.checkout?.your_last_name" name="surname" required 
                [(ngModel)]="checkout.surname">
              <input type="text" class="checkout__input" placeholder="+38(0__)___-__-__" name="phone" required
                [textMask]="{mask: phoneMask}" [(ngModel)]="checkout.phone">
              <input type="text" class="checkout__input email" placeholder="Ваш Email" name="email" required 
                [(ngModel)]="checkout.email">
            </div>
          <div class="form-group">
              <h3 class="form-group-title">
                  {{(config.configData | async)?.checkout?.delivery_type}}
              </h3>
              <div class="checkout__select">
                  <select name="delivery" class="select" [(ngModel)]="checkout.delivery">
                    <option value="Курьером до двери" selected>{{(config.configData | async)?.checkout?.delivery_courier}}</option>
                    <option value="Другой вариант">{{(config.configData | async)?.checkout?.delivery_other}}</option>
                  </select>
                  <i class="ic ic--dropdown">^</i>
              </div>
            </div>
        </div>
        <div class="form-group-sm">
          <div class="form-group">
            <h3 class="form-group-title">{{(config.configData | async)?.checkout?.address}}</h3>
            <input type="text" class="checkout__input" [placeholder]="(config.configData | async)?.checkout?.region" name="region" required 
              [(ngModel)]="checkout.region">
            <input type="text" class="checkout__input" [placeholder]="(config.configData | async)?.checkout?.city" name="city" required 
              [(ngModel)]="checkout.city">
            <!-- <div class="checkout__select">
                <select name="region" class="select" [(ngModel)]="checkout.region">
                  <option value="Киевская область" selected>Киевская область</option>
                  <option value="Другой вариант">Другой вариант</option>
                </select>
                <i class="ic ic--dropdown">^</i>
            </div>
            <div class="checkout__select">
                <select name="city" class="select" [(ngModel)]="checkout.city">
                  <option value="Киев" selected>Киев</option>
                  <option value="Другой вариант">Другой вариант</option>
                </select>
                <i class="ic ic--dropdown">^</i>
            </div> -->
            <input type="text" class="checkout__input" [placeholder]="(config.configData | async)?.checkout?.street" name="street" required 
              [(ngModel)]="checkout.street">
            <div class="checkout__input-row">
                <input type="text" class="checkout__input" [placeholder]="(config.configData | async)?.checkout?.house" name="house" required 
                  [(ngModel)]="checkout.house">
                <input type="text" class="checkout__input" [placeholder]="(config.configData | async)?.checkout?.floor" name="floor" required 
                  [(ngModel)]="checkout.floor">
                <input type="text" class="checkout__input" [placeholder]="(config.configData | async)?.checkout?.flat" name="flat" required 
                  [(ngModel)]="checkout.flat">
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-info-container">
        <div class="info-col">
          <p class="info-text h5">
            <span>{{(config.configData | async)?.checkout?.quantity_items}}:</span>
            <span>{{cart?.quantity}}</span>
          </p>
          <p class="info-text h5">{{(config.configData | async)?.checkout?.total_price}}:
            <span class="info-price">{{cart?.price}}</span>
          </p>
        </div>
        <div class="info-col order-mobile-last">
          <p>{{(config.configData | async)?.checkout?.additional_text}}</p>
        </div>
        <div class="info-col">
          <button class="checkout__submit btn btn-primary" type="submit">{{(config.configData | async)?.checkout?.submit_order}}</button>
        </div>
      </div>
    </form>

    <div class="decor-bar decor-bar--top hidden-mobile">
      <div class="col-desktop-5 col-3"></div>
      <div class="decor decor--full">
        <img src="assets/img/decor.svg">
      </div>
    </div>
    <div class="decor-bar decor-bar--top hidden-mobile hidden-tablet">
      <div class="col-desktop-4 col-2"></div>
      <div class="decor decor--full">
        <img src="assets/img/decor.svg">
      </div>
    </div>
</div>