<app-breadcrumbs currentPage="Вакансии" i18n-currentPage="@@nav__vacancies"></app-breadcrumbs>
<div class="container-inner">
  <div class="row position-relative">
    <div class="col-desktop-1"></div>
    <!-- <h1 class="page__title" i18n="@@nav__vacancies">Вакансии</h1> -->
    <div class="page__brand_text-rotated hidden-mobile">
        <p i18n="@@nav__vacancies">вакансии</p>
    </div>
  </div>
  <div class="page__description" [innerHtml]="vacancies?.description">
  </div>
  <div class="search">
      <div class="row align-items-center justify-content-between">
          <form class="search__form" #form="ngForm">
              <div class="search__element col-desktop-3 col-4">
                  <div class="placeholder" *ngIf="isMobile" [ngClass]="{'hidden': city?.length > 0}">Название города</div>
                  <div class="placeholder" *ngIf="!isMobile" [ngClass]="{'hidden': city?.length > 0}">Начните вводить название города</div>
                  <ng-select class="search__input" [items]="cityList" id="city_input" name='city_input' [(ngModel)]="city" [clearable]="false" (change)="search()"></ng-select>
                  <i class="ic ic--search"></i>
              </div>
              <div class="col-desktop-1"></div>
              <div class="col-4 col-tablet-2 col-desktop-1 d-flex align-items-center">
                <p class="searh__label" i18n="@@vacancies__choose_city">Выберите город:</p>
              </div>
              <div class="search__element col-4 col-tablet-2 col-desktop-1">
                  <select name="city_select" class="search__select" [(ngModel)]="city" (change)="search()">
                    <option value="" selected i18n="@@vacancies__all_cities">Все города</option>
                    <option [value]="city" *ngFor="let city of cityList">{{city}}</option>
                  </select>
                  <i class="ic ic--dropdown">^</i>
              </div>
          </form>
      </div>
    </div>
    <div class="results">
      <a class="results__item block-link" *ngFor="let vacancy of filteredVacancies" [routerLink]="vacancy.link">
        <h3 class="vacancy-title">{{vacancy.title}}
          <span class="vacancy-salary" *ngIf="vacancy.salary">{{vacancy.salary}}</span>
        </h3>
        <span class="page__more-link vacancy-link link"> 
          <span i18n="@@general__more_details">Детальнее</span>
          <i class="ic ic--more">^</i>
        </span>
      </a>
    </div>
    
    <app-send-resume></app-send-resume>

    <div class="decor-bar decor-bar--top decor-to-right hidden-mobile">
      <div class="col-desktop-5 col-2"></div>
      <div class="decor decor--full">
        <img src="assets/img/decor.svg">
      </div>
  </div>
</div>
