<app-breadcrumbs currentPage="Услуги"></app-breadcrumbs>
<div class="container-inner offer__page">
  <div class="row position-relative">
    <div class="col-desktop-1"></div>
    <!-- <h1 class="page__title">Услуги</h1> -->
    <div class="page__brand_text-rotated hidden-mobile">
        <p>услуги</p>
    </div>
  </div>
    <div class="offers__category" *ngFor="let offer of offers; let i = index">
      <div class="row">
          <div class="col-desktop-1"></div>
          <h2 class="col-desktop-5 category__title" [innerHtml]="offer.category_name"></h2>
      </div>
      <div class="row category__offers">

        <ng-container *ngFor="let offer_item of offer.offers; let index = index">
            <a class="col-tablet-2 col-desktop-1 offer__item block-link" [routerLink]="offer_item.link" [ngClass]="{'hidden': isMobile && index >= 2 && offer.hidden}">
              <div class="offer__image">
                <img src="{{offer_item.img}}" alt="{{offer_item.alt}}">
                <div class="offer__link">
                    <span class="link rotated">
                        <i class="ic ic--plus">+</i>
                        Смотреть прайс
                    </span>
                </div>
              </div>
              <h3 class="offer__title">{{offer_item.title}}</h3>
              <p class="offer__description">{{offer_item.description}}</p>
            </a>
            <div class="btn btn-secondary-inverted" *ngIf="isMobile && index === 1 && offer.hidden" (click)="offer.hidden = false">Показать больше услуг</div>
        </ng-container>
    </div>
      <ng-container *ngIf="i === 1">
          <div class="decor-bar">
            <div class="decor decor--full">
                  <img src="/assets/img/decor.svg" class="slideInLeft" data-wow-duration="1s">
            </div>
          </div>
          <div class="decor-bar hidden-tablet">
            <div class="decor decor--full decor-to--left">
                  <img src="/assets/img/decor.svg" class="slideInLeft" data-wow-duration="1s">
            </div>
        </div>
      </ng-container>
    </div>

    <div class="decor-bar decor-bar--sm decor-bar--down">
        <div class="col-desktop-4 col-2"></div>
        <div class="decor decor--full">
            <img src="/assets/img/decor.svg">
        </div>
    </div>
    
    <app-blacktie></app-blacktie>

    <div class="decor-bar">
      <div class="col-1 hidden-mobile hidden-tablet"></div>
      <div class="decor decor--full decor-bar--top">
          <img src="/assets/img/decor.svg">
      </div>
    </div>
    <div class="decor-bar decor-bar--sm decor-bar--top">
        <div class="col-1 col-desktop-3 col-tablet-2"></div>
        <div class="decor decor--full">
            <img src="/assets/img/decor.svg">
        </div>
    </div>
</div>
