<app-breadcrumbs currentPage="Услуги"></app-breadcrumbs>
<div class="container-inner">
  <div class="row position-relative">
    <div class="col-desktop-1"></div>
    <h1 class="page__title">Услуги</h1>
    <div class="page__brand_text-rotated hidden-mobile">
        <p>услуги</p>
    </div>
  </div>
    <div class="decor-bar decor-bar--sm">
        <div class="decor decor--half decor--top"></div>
    </div>
    <!-- CALLBACK -->
    <app-callback mode="order" referrer="offers"></app-callback>
    <!-- END OF CALLBACK -->
    <div class="decor-bar decor-bar--sm">
        <div class="col-1">
        </div>
        <div class="decor decor--half decor--bottom"></div>
    </div>
    <div class="offers__category" *ngFor="let offer of offers; let i = index">
      <div class="row">
          <div class="col-1"></div>
          <h2 class="category__title" [innerHtml]="offer.category_name"></h2>
      </div>
      <div class="row category__offers">
        <ng-container *ngIf="i === 0">
          <div class="decor--absolute">
              <div class="hidden-mobile hidden-tablet decor decor--full">
                  <img src="/assets/img/decor.svg" class="slideInLeft" data-wow-duration="1s">
              </div>
          </div>
        </ng-container>
          <div class="col-tablet-2 col-desktop-1 offer__item" *ngFor="let offer_item of offer.offers">
              <div class="offer__image">
                  <img src="{{offer_item.img}}" alt="{{offer_item.alt}}">
                  <div class="offer__link">
                      <a href="javascript:void(0)" class="rotated" (click)="navigateTo(offer_item.link)">
                          <i class="ic ic--plus">+</i>
                          Смотреть прайс
                      </a>
                  </div>
              </div>
              <h3 class="offer__title">{{offer_item.title}}</h3>
              <p class="offer__description">{{offer_item.description}}</p>
          </div>
      </div>
      <ng-container *ngIf="i === 1">
          <div class="decor-bar">
            <div class="decor decor--full">
                  <img src="/assets/img/decor.svg" class="slideInLeft" data-wow-duration="1s">
            </div>
          </div>
          <div class="decor-bar">
            <div class="decor decor--full decor-to--left">
                  <img src="/assets/img/decor.svg" class="slideInLeft" data-wow-duration="1s">
            </div>
        </div>
      </ng-container>
    </div>

    <div class="decor-bar decor-bar--sm decor-bar--down">
        <div class="col-4"></div>
        <div class="decor decor--full">
            <img src="/assets/img/decor.svg" class="wow slideInLeft" data-wow-duration="1s" data-wow-delay=".5s">
        </div>
    </div>
    
    <app-blacktie></app-blacktie>

    <div class="decor-bar">
      <div class="col-1"></div>
      <div class="decor decor--full decor-bar--top">
          <img src="/assets/img/decor.svg" class="wow slideInLeft" data-wow-duration="1s">
      </div>
    </div>
    <div class="decor-bar decor-bar--sm decor-bar--top">
        <div class="col-1 col-desktop-3 col-tablet-1"></div>
        <div class="decor decor--full">
            <img src="/assets/img/decor.svg" class="wow slideInLeft" data-wow-duration="1s" data-wow-delay=".3s">
        </div>
    </div>
</div>
