.category__title{
    margin-top: 45px;
    margin-bottom: 70px;
}

.offer__item{
    padding-right: 25px;
    margin-bottom: 50px;
}
.offer__title{
    // min-height: 58px;
    hyphens: auto;
}
.offer__image{
    margin-bottom: 40px;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    width: 66.6%;
    max-height: 190px;
    img{
        object-fit: cover;
        object-position: 0 0;
    }
}
@media(min-width:768px){
    .offer{
        margin-top: 0;
    }
    .offer__title{
        min-height: 58px;
    }
    .offer__image{
        max-height: 395px;
        // width: auto;
        margin-bottom: 60px;
    }
}
@media(min-width:1200px){
    .offer__item{
        padding-right: 15px;
        margin-bottom: 40px;
    }
    .offer__image{
        display: flex;
        width: 100%;
    }
}

.offer__link{
    position: absolute;
    right: 20px;
    color: var(--color_white);
    bottom: -50%;
    pointer-events: none;
    opacity: 0;
    transition: var(--transition);
}
.offer__link .rotated{
    transform: translateX(100%) rotate(-90deg);
    transform-origin: bottom left;
    display: flex;
    align-items: center;
}
.offer__link .ic,
.offer__link:hover .ic{
    color: var(--color_white);
}
.offer__image::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color_text);
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    transition: var(--transition);
}
.offer__image:hover::after{
    opacity: 0.85;
}
.offer__image:hover .offer__link{
    bottom: 20px;
    pointer-events: initial;
    z-index: 2;
    opacity: 1;
}

.decor--absolute{
    position: relative;
    width: 100%;
    .decor{
        position: absolute;
        right: 0;
        top: calc(var(--decor-height) / -2);
        z-index: -1;
    }
}
