<header class="container-inner header-desktop">
  <div class="top-bar row">
      <div class="decor decor--half decor--bottom"></div>
      <div class="col-4 top-bar__container">
          <ul class="menu-list top-bar__menu top-bar__menu--main">
              <li class="top-bar__item">
                  <a class="top-bar__link text-small" href="tel:0931700909">
                      <i class="ic ic--phone"></i>
                      (093) 170&bull;09&bull;09
                  </a>
              </li>
              <li class="top-bar__item">
                  <a class="top-bar__link text-small" href="tel:0949533909">
                      (094) 953&bull;39&bull;09
                  </a>
              </li>
              <!-- <li class="top-bar__item">
                  <a class="top-bar__link text-small" href="">
                      <i class="ic ic--location"></i>
                      Киев
                  <i class="ic ic--dropdown">^</i>
                  </a>
              </li>
              <li class="top-bar__item">
                  <a class="top-bar__link text-small" href="">
                      <i class="ic ic--user"></i>
                      Здравствуйте, Александр
                  </a>
              </li> -->
          </ul>
          <ul class="menu-list top-bar__menu top-bar__menu--ic">
              <li class="top-bar__item">
                  <a class="top-bar__link" href="">
                      <i class="ic ic--cart"></i>
                  </a>
              </li>
              <li class="top-bar__item">
                  <a class="top-bar__link" href="javascript:void(0);" (click)="openSearchDialog()">
                      <i class="ic ic--search"></i>
                  </a>
              </li>
              <li class="top-bar__item">
                <ul class="lang-switcher">
                    <li>
                        <a href="" class="top-bar__link active text-small">Рус</a>
                    </li>
                    <li>
                        <a href="" class="top-bar__link text-small">Укр</a>
                    </li>
                </ul>
              </li>
          </ul>
      </div>
      
  </div>
  <div class="navbar">
      <a routerLink="/" class="navbar__brand">
          <img src="assets/img/brand/logo.svg" alt="VESCH">
      </a>
      <ul class="menu-list navbar__menu">
          <li class="navbar__item">
              <a href="javascript:void(0);" class="navbar__link navbar--dropdown" (click)="collapsed = !collapsed" [ngClass]="{'active': collapsed}" #dropdown_link>
                  О нас
                  <i class="ic ic--dropdown">^</i>
              </a>
          </li>
          <li class="navbar__item">
              <a routerLink="/promos" class="navbar__link" routerLinkActive="active">Акции</a>
          </li>
          <li class="navbar__item">
              <a routerLink="/services" class="navbar__link" routerLinkActive="active">Сервисы</a>
          </li>
          <li class="navbar__item">
              <a routerLink="/offers" class="navbar__link" routerLinkActive="active">Услуги</a>
          </li>
          <li class="navbar__item">
              <a routerLink="/loyalty" class="navbar__link" routerLinkActive="active">Програма лояльности</a>
          </li>
          <li class="navbar__item">
              <a routerLink="/points" class="navbar__link" routerLinkActive="active">Пункты приема</a>
          </li>
      </ul>
  </div>
</header>

<div class="about-us" [ngClass]="{'collapsed': !collapsed}" #dropdown_menu>
    <div class="container-inner">
        <div class="row">
            <div class="col-1"></div>
            <div class="about-us__title">о нас</div>
            <div class="col-1"></div>
            <ul class="menu-list about-us__menu col-1">
                <li class="about-us-item">
                    <a routerLink="/company" class="about-us-link" routerLinkActive="active" (click)="collapsed = !collapsed">Компания</a>
                </li>
                <li class="about-us-item">
                    <a routerLink="/how-we-work" class="about-us-link" routerLinkActive="active" (click)="collapsed = !collapsed">Как мы работаем</a>
                </li>
                <li class="about-us-item">
                    <a routerLink="/news" class="about-us-link" routerLinkActive="active" (click)="collapsed = !collapsed">Новости</a>
                </li>
                <li class="about-us-item">
                    <a routerLink="/vacancies" class="about-us-link" routerLinkActive="active" (click)="collapsed = !collapsed">Вакансии </a>
                </li>
                <li class="about-us-item">
                    <a routerLink="/faq" class="about-us-link" routerLinkActive="active" (click)="collapsed = !collapsed">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</div>
